In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats

from pydataset import data
import seaborn as sns

- null hyptohesis $H_{0}$ = Internet service has no impact on network latency
- alternative hypothesis $H_{a}$ = Newtork latency has gone up since switching internet service providers
- True positive = alpha > p value and we establish that internet service does impact network latency
- True negavite = alpha < p and we establish that internet service has no impact on network latency
- Type 1 error: we reject that internet service has no impact on network latency but the truth is there is no impact
- Type 2 error: we don't reject that internet service has no impact on network latecny but there is significant impact

####  Has the network latency gone up since we switched internet service providers?

- null hyptohesis $H_{0}$ = Internet service has no impact on network latency

- alternative hypothesis $H_{a}$ = Newtork latency has gone up since switching internet service providers

- True positive = p < alpha and we establish that internet service does impact network latency

- True negavite = p > alpha and we establish that internet service has no impact on network latency

- Type 1 error: we reject that internet service has no impact on network latency but the truth is there is no impact

- Type 2 error: we don't reject that internet service has no impact on network latecny but there is significant impact

####  Is the website redesign any good?

- null hyptohesis $H_{0}$ = The website has no impact on whether it is good

- alternative hypothesis $H_{a}$ = The website has had great imact on business

- True positive = I reject the $H_{0}$, and the web redesign is good

- True negavite = I accept the $H_{0}$, and the web redesign is not good

- Type 1 error: reject the null $H_{0}$, but the redesign is not good

- Type 2 error: accept the $H_{0}$, and the redesign is good

####  Is our television ad driving more sales?


- null hyptohesis $H_{0}$  = The television ads are not driving sales

- alternative hypothesis  $H_{a}$ = The television ads are having a positive impact on driving sales

- True positive = I reject the $H_{0}$, and the television ads do drive sales

- True negavite = I accept the $H_{0}$, and the television ads not drive more sales

- Type 1 error: we reject the null $H_{0}$ but ads do not drive sales 

- Type 2 error: we accept the $H_{0}$, but telelvision ads do drive sales

In [1]:
def get_db_url(host, user, password):
    url = f'mysql+pymysql://{user}:{password}@{host}/zillow'
    return url

In [2]:
from env import host, user, password
url = get_db_url(host, user, password)

In [6]:
pd.read_sql('SELECT * FROM properties_2017 LIMIT 5 OFFSET 50', url)

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,50,11818747,None,None,None,0.0,0.0,NaN,NaN,None,...,NaN,None,NaN,11009.0,2016.0,11009.0,NaN,None,NaN,None
1,51,11823747,None,None,None,0.0,0.0,4.0,8.0,None,...,1.0,None,42827.0,95552.0,2016.0,52725.0,1439.04,None,NaN,None
2,52,11824947,None,None,None,0.0,0.0,4.0,5.0,None,...,1.0,None,103339.0,369854.0,2016.0,266515.0,6196.56,None,NaN,None
3,53,11825347,None,None,None,0.0,0.0,4.0,4.0,None,...,1.0,None,303881.0,562744.0,2016.0,258863.0,9208.71,Y,11.0,None
4,54,11828947,None,None,None,0.0,0.0,4.0,5.0,None,...,1.0,None,37662.0,55862.0,2016.0,18200.0,2778.74,None,NaN,None

####  Does having a basement affect house sales?

- null hyptohesis $H_{0}$  = Having a basement does not affect house sales

- alternative hypothesis  $H_{a}$ = Having a basement increases house sales

- True positive = I reject the $H_{0}$, having a basement drives sales

- True negavite = I accept the $H_{0}$, houses with basements do not sell as much

- Type 1 error: we reject the null $H_{0}$  houses with basements do not drive sales

- Type 2 error: we accept the $H_{0}$, houses with basements do sell more

####  Do single story homes sell more than 2 story?

- null hyptohesis $H_{0}$  = Single story homes do not sell more than 2 story

- alternative hypothesis  $H_{a}$ = Single story homes sell more than 2 story

- True positive = I reject the $H_{0}$, single story homes sell more

- True negavite = I accept the $H_{0}$, single story homes do not sell as much as 2 story

- Type 1 error: we reject the null $H_{0}$  single story homes do not drive sales

- Type 2 error: we accept the $H_{0}$, single story homes sell more than 2 story

####  Do houses with fireplaces affect house sales

- null hyptohesis $H_{0}$  = Houses with fireplaces do not affect house sales

- alternative hypothesis  $H_{a}$ = Houses with fireplaces sell more

- True positive = I reject the $H_{0}$, houses with fireplaces sell more

- True negavite = I accept the $H_{0}$, houses with fireplaces do not sell as much

- Type 1 error: we reject the null $H_{0}$  houses with fireplaces do not sell as much

- Type 2 error: we accept the $H_{0}$, houses with fireplaces sell more